# macOS Finder and Python stuff
**/.DS_Store
**/._.DS_Store
**/__pycache__
**/__pycache__/*
**/idea
**/idea/*
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*

# publication related items
**/data_frames
**/figures
**/metrics
**/pavlof_webcam_images
**/plotting_scripts
**/timeline_plots
**/timeline_plots_tam
timeline_plot_tam*
timeline_checker_*
debugger*

# pre release
/models/old_models
/models/other_models
